{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %} {% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/cortometraje.css">
{% endblock %} {% block contenido %}

<div class="contenido">
	<img src="{{MEDIA_URL}}{{corto.imagen}}" class="imagen"></a>
	<u><h1>{{corto.titulo}}</h1></u>
	<h2>Palmares:</h2>
	<h3>{{corto.palmares}}</h3>
	<b>Agno:</b> {{corto.anyo}}<br>
	<b>Pais:</b> {{corto.pais}}<br>
	<b>Director:</b> {{corto.director}}<br>
	<b>Reparto:</b> {{corto.reparto}}<br>
	<b>Productora:</b> {{corto.productora}}<br>
	<b>Genero:</b> {{corto.genero}}<br>
	
	<h3>Sinopsis:</h3>
	
	<div class="sinopsis">
	{{corto.sinopsis}}
	<br>
	<iframe src="{{corto.trailer}}" width="600"
		height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen
		allowfullscreen></iframe>
	</div>
	
	<h1>Servicios de {{user.username|capfirst}}</h1>
	{%ifequal user.id corto.cliente_id %}
	<h1>Bienvenido a tu corto</h1>
	{%else%}
	<h1>Este no es tu corto</h1>
	{%endifequal%}
	
</div>


{%endblock%}