{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %} {% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/cortometraje.css">
{% endblock %} {% block contenido %}

<div class="contenido">
	
	<u><h1>{{corto.titulo}}</h1></u>
	<h2>Palmares:</h2>
	{%for estado in estados%}	
	<h3>{{estado.estado|upper}} - {{corto.anyo}} {{estado.festival|upper}},{{estado.festival.ciudad|upper}}</h3>
	{%endfor%}
	
	<br><img src="{{MEDIA_URL}}{{corto.imagen}}" class="imagen"></a>
	<div class="informacion">
		<b>Agno:</b> {{corto.anyo}}<br>
		<b>Pais:</b> {{corto.pais}}<br>
		<b>Director:</b> {{corto.director}}<br>
		<b>Reparto:</b> {{corto.reparto}}<br>
		<b>Productora:</b> {{corto.productora}}<br>
		<b>Genero:</b> {{corto.genero}}<br><br><br>
	</div>
	<div class="sinopsis">
	<b>Sinopsis:</b><br>
	{{corto.sinopsis}}
	<br><br><h1> </h1>
	{{corto.trailer|safe}}
	</div>
	
	{%ifequal user.id corto.cliente_id %}
	<table class="tabla" width="100%" border="2" cellspacing="0" bordercolor="#000000">		
		<tr>
			<th scope="col">CORTOMETRAJE</th>
			<th scope="col">ANO DE PRODUCCION</th>
			<th scope="col">FESTIVAL/ANO</th>
			<th scope="col">CIUDAD/PAIS</th>
			<th scope="col">FECHA</th>
			<th scope="col">WEB</th>
			<th scope="col">ESTADO</th>
		</tr>
		{%for estado in estados%}	
		<tr>
			<td>{{corto.titulo}}</td>
			<td>{{corto.anyo}}</td>
			<td>{{estado.festival}}/{{estado.festival.anyo}}</td>
			<td>{{estado.festival.ciudad}}/{{estado.festival.pais}}</td>
			<td>{{estado.festival.fecha}}</td>
			<td>{{estado.festival.web}}</td>
			<td>{{estado.estado}}</td>
		</tr>

	{%endfor%}
		</table>
	{%endifequal%}
	
</div>


{%endblock%}