{% extends 'base.html' %} {% comment %} Aqui van los comentarios {%endcomment %} 

{%block head%}
<link rel="stylesheet" href="{{STATIC_URL}}css/servicios.css">
{%endblock%}
 
{%block titulo%} Distribucion {%endblock%} 

{% block contenido %}

<div align="center">
	<table width="57%" border="0">
		<tr>
			<td colspan="4" align="center" bgcolor="#FFFFFF">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="4" align="center" class="titular">Distribuci&oacute;n</td>
		</tr>
		<tr>
			<td colspan="4" align="center">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="4" align="center"><strong class="titulo">{{texto.texto}}</strong></td>
		</tr>
		<tr>
			<td colspan="4" align="center">&nbsp;</td>
		</tr>
		<tr>
			{%for proyecto in proyectos|slice:":4"%}
			<td align="center">
				<p>
					<a href="ficha/{{proyecto.id}}" class="redes-sociales"><img
						src="{{MEDIA_URL}}{{proyecto.imagen}}" width="120" height="170" /></a>
				</p>
				<p class="titulo">
					<a href="ficha/{{proyecto.id}}" class="titulos">
						{{proyecto.titulo}}</a>
				</p>
			</td> {%endfor%}
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			{%for proyecto in proyectos|slice:"4:8"%}
			<td height="229" align="center">
				<p>
					<a href="ficha/{{proyecto.id}}" class="redes-sociales"><img
						src="{{MEDIA_URL}}{{proyecto.imagen}}" width="120" height="170" /></a>
				</p>
				<p class="titulo">
					<a href="ficha/{{proyecto.id}}" class="titulos">
						{{proyecto.titulo}}</a>
				</p>
			</td> {%endfor%}
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			{%for proyecto in proyectos|slice:"8:12"%}
			<td align="center">
				<p>
					<a href="ficha/{{proyecto.id}}" class="redes-sociales"><img
						src="{{MEDIA_URL}}{{proyecto.imagen}}" width="120" height="170" /></a>
				</p>
				<p class="titulo">
					<a href="ficha/{{proyecto.id}}" class="titulos">{{proyecto.titulo}}</a>
				</p>
			</td> {%endfor%}
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			{%for proyecto in proyectos|slice:"12:16"%}
			<td align="center">
				<p>
					<a href="ficha/{{proyecto.id}}" class="redes-sociales"><img
						src="{{MEDIA_URL}}{{proyecto.imagen}}" width="120" height="170" /></a>
				</p>
				<p class="titulo">
					<a href="ficha/{{proyecto.id}}" class="titulos">{{proyecto.titulo}}</a>
				</p>
			</td> {%endfor%}
		</tr>
		<tr>
			<td colspan="4">&nbsp;</td>
		</tr>
	</table>


</div>
{%endblock%}
