{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %} {% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/distribucion.css">
{% endblock %} {%block titulo%} Distribucion {%endblock%} 
{% block contenido %}
<div class="contenido">
	<h1>Este es el apartado de distribucion</h1>
	<ul >
		{%for corto in cortos|slice:":16"%}
		<li class="cortos"><a href="corto/{{corto.id}}"><img src="{{MEDIA_URL}}{{corto.imagen}}" class="portada"></a></li>
		{%endfor%}
	</ul>

</div>

{%endblock%}
