{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %} {% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/ver.css">
{% endblock %} {% block contenido %}

<div class="contenido">
<h1>ESTADOS</h1>
<h2><a href="/administracion/registrarEstado">Add</a></h2>
<table class="tabla" width="50%" cellspacing="0" bordercolor="#000000">	
{%for festival in object_list%}
		<tr>
			<th scope="col"><a href="/servicios/festival/{{festival.id}}">{{estado.corto.titulo}}</a></th>
			<td><a href="/administracion/modificarFestival/{{festival.id}}">Modificar</a></td>
			<td><a href="/administracion/eliminarProyecto/{{festival.id}}">Borrar</a></td>
		</tr>
{%endfor%}
</table>
</div>


{%endblock%}