{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %}

{%block titulo%} Festival {%endblock%}

{% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/servicios.css">
{% endblock %} {% block contenido %} 
<div align="center" class="list">
  <table width="100%" border="0">
    <tr>
      <td width="443" rowspan="10">&nbsp;</td>
      <td colspan="3"class="tam22">Datos de Festival:</td>
      <td width="203" align="right">&nbsp;</td>
      <td width="38" align="center">&nbsp;</td>
      <td width="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3" align="center"></td>
      <td colspan="2" rowspan="9">&nbsp;</td>
      <td height="21">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" class="22">Nombre Festival:</td>
      <td width="347">{{festival.nombre}}</td>
      <td width="22">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" class"22">Ciudad del Festival:</td>
      <td>{{festival.ciudad|capfirst}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="left" class"22">Año de Celebracion:</td>
      <td>{{festival.anyo|capfirst}}</td>
      <td>&nbsp;</td>
    </tr>
    {%ifnotequal festival.fecha ''%}
    <tr>
      <td align="left" class"22">Fecha:</td>
      <td>{{festival.fecha|capfirst}}</td>
      <td>&nbsp;</td>
    </tr>
    {%endifnotequal%}
    {%ifnotequal festival.web ''%}
    <tr>
      <td align="left" class"22">Página Web:</td>
      <td>{{festival.web|capfirst}}</td>
      <td>&nbsp;</td>
    </tr>
    {%endifnotequal%}
    <tr>
      <td colspan="2" align="left">&nbsp;</td>
      <td rowspan="6">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
    
  </table>

</div>
<p>{%endblock%} </p>
