{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %} {% block head %}
{% endblock %} {% block contenido %}

<div align="center">
  <table width="100%" border="1">
    <tr>
      <td width="11%">&nbsp;</td>
      <td colspan="2">&nbsp;</td>
      <td width="21%"><h5>Bienvenido,{{user.username|capfirst}}</h5></td>
      <td width="22%"><h6><a href="/administracion/logout/">Desconectar</a></h6></td>
      <td width="7%">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2">&nbsp;</td>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td width="14%" align="left"><h4>Datos de Usuario:</h4></td>
      <td width="25%">&nbsp;</td>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td align="left"><h5>Usuario:</h5></td>
      <td><h5>{{user.username}}</h5></td>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td align="left"><h5>Nombre:</h5></td>
      <td><h5>{{user.first_name|capfirst}}</h5></td>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td align="left"><h5>Apellidos:</h5></td>
      <td><h5>{{user.last_name|capfirst}}</h5></td>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td align="left"><h5>Ciudad:</h5></td>
      <td><h5>{{cliente.ciudad|capfirst}}</h5></td>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td align="left"><h5>Email:</h5></td>
      <td><h5>{{user.email}}</h5></td>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td rowspan="2">&nbsp;</td>
      <td align="left"><h5>Telefono Contacto:</h5></td>
      <td><h5>{{cliente.telefono}}</h5></td>
      <td colspan="2" rowspan="2">&nbsp;</td>
      <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>

</div>
{%endblock%}
