{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %} {% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/inicio.css">
{% endblock %} {% block contenido %}

<div class="contenido">

	<a href="/administracion/logout/">Desconectar</a><br>
	<h1>Ficha de {{user.username|capfirst}}</h1>
	<h2>Proyectos</h2>
	{%for proyecto in proyectos%}
	<a href="proyecto/{{proyecto.id}}"><img src="{{MEDIA_URL}}{{proyecto.imagen}}"></a>
	
	{%endfor%}
</div>

{%endblock%}
