{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %} {% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/inicio.css">
{% endblock %}
{%block titulo%}Produccion {%endblock%}
{% block contenido %}
<div class="contenido">
<h1>Este es el apartado de Produccion</h1>
<p>{{texto.texto}}</p>
<ul >
		{%for proyecto in proyectos|slice:":16"%}
		<li class="cortos"><a href="ficha/{{proyecto.id}}"><img src="{{MEDIA_URL}}{{proyecto.imagen}}" class="portada"></a></li>
		{%endfor%}
	</ul>
</div>
{%endblock%}
