{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %} {% block head %}
{% endblock %}
  {%block titulo%}Produccion {%endblock%}
  
  {% block contenido %}
  <style type="text/css">
.texto {
	font-size: 24px;
}
</style>
<div align="center">
  <table width="90%" border="0">
    <tr>
      <td colspan="4" align="center"><h3><strong>PRODUCCION</strong></h3></td>
    </tr>
    <tr>
      <td colspan="4" align="center"><h4><strong>{{texto.texto}}</strong></h4></td>
    </tr>
    <tr>
      <td width="21%">&nbsp;</td>
      <td width="24%">&nbsp;</td>
      <td width="55%" colspan="2">&nbsp;</td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
    {%for proyecto in proyectos|slice:":4"%}
      <td> <a href="ficha/{{proyecto.id}}"><img src="{{MEDIA_URL}}{{proyecto.imagen}}" width="150" height="250" /></a></td>
    {%endfor%}
    </tr>
     <tr><td>&nbsp;</td></tr>
     <tr>
    {%for proyecto in proyectos|slice:"4:8"%}
      <td <a href="ficha/{{proyecto.id}}">><img src="{{MEDIA_URL}}{{proyecto.imagen}}" width="150" height="250" /></a></td>
    {%endfor%}
    </tr>
     <tr><td>&nbsp;</td></tr>
    <tr>
    {%for proyecto in proyectos|slice:"8:12"%}
      <td> <a href="ficha/{{proyecto.id}}"><img src="{{MEDIA_URL}}{{proyecto.imagen}}" width="150" height="250" /></a></td>
    {%endfor%}
    </tr>
     <tr><td>&nbsp;</td></tr>
    <tr>
    {%for proyecto in proyectos|slice:"12:16"%}
      <td> <a href="ficha/{{proyecto.id}}"><img src="{{MEDIA_URL}}{{proyecto.imagen}}" width="150" height="250" /></a></td>
    {%endfor%}
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
  </table>


</div>
{%endblock%}
