{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %} {% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/cortometraje.css">
{% endblock %} {% block contenido %}

<div class="contenido">
	
	<u><h1>{{proyecto.titulo}}</h1></u>
	<h2>Palmares:</h2>
	{%for estado in estados%}	
	<h3>{{estado.estado|upper}} - {{proyecto.anyo}} {{proyecto.festival|upper}},{{estado.festival.ciudad|upper}}</h3>
	{%endfor%}
	
	<br><img src="{{MEDIA_URL}}{{proyecto.imagen}}" class="imagen"></a>
	<div class="informacion">
		
		{% ifnotequal proyecto.anyo '' %}
		<b>Agno:</b> {{proyecto.anyo}}<br>
		{%  endifnotequal %} 
		
		{% ifnotequal proyecto.pais '' %}
		<b>Pais:</b> {{proyecto.pais}}<br>
		{%  endifnotequal %} 
		
		{% ifnotequal proyecto.duracion '' %}
		<b>Duracion:</b>{{proyecto.duracion}}
		{%  endifnotequal %} 
		
		{% ifnotequal proyecto.soporte '' %}
		<b>soporte:</b>{{proyecto.soporte}}
		{%  endifnotequal %} 
		
		{% ifnotequal proyecto.formato '' %}
		<b>Formato:</b>{{proyecto.formato}}
		{%  endifnotequal %} 
		
		{% ifnotequal proyecto.director '' %}
		<b>Director:</b> {{proyecto.director}}<br>
		{%  endifnotequal %} 
		
		{% ifnotequal proyecto.productora '' %}
		<b>Productora:</b> {{proyecto.productora}}<br>
		{%  endifnotequal %} 
		
		{% ifnotequal proyecto.reparto '' %}
		<b>Reparto:</b> {{proyecto.reparto}}<br>
		{%  endifnotequal %} 
		
		{% ifnotequal proyecto.genero '' %}
		<b>Genero:</b> {{proyecto.genero}}<br>
		{%  endifnotequal %} 
		
		
		<br><br>
	</div>
	<div class="sinopsis">
	<b>Sinopsis:</b><br>
	{{proyecto.sinopsis}}
	<br><br>
	{% ifnotequal proyecto.trailer '' %}
	<a href="{{proyecto.trailer|safe}}" target="blank">Enlace a Trailer</a>
		{%  endifnotequal %} 
	
	</div>
	
	{%ifequal user.id proyecto.cliente_id %}
	<table class="tabla" width="100%" border="2" cellspacing="0" bordercolor="#000000">		
		<tr>
			<th scope="col">CORTOMETRAJE</th>
			<th scope="col">ANO DE PRODUCCION</th>
			<th scope="col">FESTIVAL/ANO</th>
			<th scope="col">CIUDAD/PAIS</th>
			<th scope="col">FECHA</th>
			<th scope="col">WEB</th>
			<th scope="col">ESTADO</th>
		</tr>
		{%for estado in estados%}	
		<tr>
			<td>{{proyecto.titulo}}</td>
			<td>{{proyecto.anyo}}</td>
			<td>{{estado.festival}}/{{estado.festival.anyo}}</td>
			<td>{{estado.festival.ciudad}}/{{estado.festival.pais}}</td>
			<td>{{estado.festival.fecha}}</td>
			<td>{{estado.festival.web}}</td>
			<td>{{estado.estado}}</td>
		</tr>

	{%endfor%}
		</table>
	{%endifequal%}
	
</div>

{%endblock%}