{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %} {% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/cortometraje.css">
{% endblock %} {% block contenido %}


	{%block javascript%}
	 <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
    <!-- use jssor.slider.mini.js (40KB) instead for release -->
    <!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
    <script type="text/javascript" src="{{STATIC_URL}}js/jssor.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jssor.slider.js"></script>
        <script>

        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: true,

                $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slideshow is auto playing, default value is false

                $ArrowKeyNavigation: true,   			            //Allows arrow key to navigate or not
                $SlideWidth: 600,                                   //[Optional] Width of every slide in pixels, the default is width of 'slides' container
                //$SlideHeight: 300,                                  //[Optional] Height of every slide in pixels, the default is width of 'slides' container
                $SlideSpacing: 0, 					                //Space between each slide in pixels
                $DisplayPieces: 2,                                  //Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 100,                                //The offset position to park slide (this options applys only when slideshow disabled).

                $ArrowNavigatorOptions: {                       //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                if (parentWidth)
                    jssor_slider1.$ScaleWidth(Math.min(parentWidth, 800));
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
	{%endblock%}
	<table width="991" border="0" align="center">
	  <tr>
	    <td height="64" colspan="2" align="center" valign="middle"><u><strong><h1>{{proyecto.titulo|upper}}</h1></strong></u></td>
      </tr>
	  <tr>
	    <td height="82" colspan="2"><h2>Palmares:</h2>
        {%for estado in estados%}
        <h3>{{estado.estado|upper}} - {{estado.festival.anyo}} {{estado.festival|upper}},{{estado.festival.ciudad|upper}}</h3>
  		{%endfor%}
  </td>
      </tr>
	  <tr>
	    <td width="487" height="71">
        {% ifnotequal proyecto.anyo '' %} <h5>Agno: {{proyecto.anyo}}</h5> {% endifnotequal %} 
        {% ifnotequal proyecto.pais '' %} <h5>Pais: {{proyecto.pais}}</h5> {% endifnotequal %} 
        {% ifnotequal proyecto.duracion '' %} <h5>Duracion:{{proyecto.duracion}}</h5> {% endifnotequal %} 
        {% ifnotequal proyecto.soporte '' %} <h5>soporte:{{proyecto.soporte}}</h5> {% endifnotequal %} 
        {% ifnotequal proyecto.formato '' %} <h5>Formato:{{proyecto.formato}}</h5> {% endifnotequal %} 
        {% ifnotequal proyecto.director '' %} <h5>Director: {{proyecto.director}}</h5> {% endifnotequal %} 
        {% ifnotequal proyecto.productora '' %} <h5>Productora: {{proyecto.productora}}</h5> {% endifnotequal %} 
        {% ifnotequal proyecto.reparto '' %} <h5>Reparto: {{proyecto.reparto}}</h5> {% endifnotequal %} 
        {% ifnotequal proyecto.genero '' %} <h5>Genero: {{proyecto.genero}}</h5> {% endifnotequal %} </td>
	    <td width="488" rowspan="3" align="center"><img src="{{MEDIA_URL}}{{proyecto.imagen}}" alt="imagen del proyecto" width="177" height="300" class="imagen" /></br>
        {% ifnotequal proyecto.trailer '' %}<a href="{{proyecto.trailer}}" target="_blank"> Enlace a Trailer </a>{% endifnotequal %}</td>
      </tr>
	  <tr>
	    <td width="487" height="80">Sinopsis:{{proyecto.sinopsis}} </td>
      </tr>
	  <tr>
	    <td height="102">&nbsp;</td>
      </tr>
	  <tr>
	    <td height="63" colspan="2" align="center"><div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 800px;
        height: 300px; overflow: hidden;">
    <!-- Slides Container -->
    <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 800px; height: 300px;
            overflow: hidden;"> {%for imagen in galeria%}
      <div><img src="{{MEDIA_URL}}{{imagen.imagen}}" alt="imagen de algo" u="image" /></div>
   {%endfor%} </div>
    <!-- Arrow Navigator Skin Begin -->
    <style>
            /* jssor slider arrow navigator skin 13 css */
            /*
            .jssora13l              (normal)
            .jssora13r              (normal)
            .jssora13l:hover        (normal mouseover)
            .jssora13r:hover        (normal mouseover)
            .jssora13ldn            (mousedown)
            .jssora13rdn            (mousedown)
            */
            .jssora13l, .jssora13r, .jssora13ldn, .jssora13rdn {
                position: absolute;
                cursor: pointer;
                display: block;
                background: url({{STATIC_URL}}img/slide/a13.png) no-repeat;
                overflow: hidden;
            }

            .jssora13l {
                background-position: -10px -35px;
            }

            .jssora13r {
                background-position: -70px -35px;
            }

            .jssora13l:hover {
                background-position: -130px -35px;
            }

            .jssora13r:hover {
                background-position: -190px -35px;
            }

            .jssora13ldn {
                background-position: -250px -35px;
            }

            .jssora13rdn {
                background-position: -310px -35px;
            }
        </style>
    <!-- Arrow Left -->
    <span u="arrowleft" class="jssora13l" style="width: 40px; height: 50px; top: 123px; left: 30px;"> </span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora13r" style="width: 40px; height: 50px; top: 123px; right: 30px"> </span>
    <!-- Arrow Navigator Skin End -->
<a style="display: none" href="http://www.jssor.com">bootstrap slider</a> </div></td>
      </tr>
	  <tr>
	    <td height="30" colspan="2">&nbsp;</td>
      </tr>
	  <tr>
	    <td height="96" colspan="2">&nbsp;</td>
      </tr>
	  <tr>
	    <td height="25" colspan="2">&nbsp;</td>
      </tr>
	  <tr>
	    <td height="25" colspan="2">&nbsp;</td>
      </tr>
</table>

{%ifequal user.id proyecto.cliente_id %}
<table class="tabla" width="100%" border="2" cellspacing="0" bordercolor="#000000">
  <tr>
    <th scope="col">CORTOMETRAJE</th>
    <th scope="col">ANO DE PRODUCCION</th>
    <th scope="col">FESTIVAL/ANO</th>
    <th scope="col">CIUDAD/PAIS</th>
    <th scope="col">FECHA</th>
    <th scope="col">WEB</th>
    <th scope="col">ESTADO</th>
  </tr>
  {%for estado in estados%}
  <tr>
    <td>{{proyecto.titulo}}</td>
    <td>{{proyecto.anyo}}</td>
    <td>{{estado.festival}}/{{estado.festival.anyo}}</td>
    <td>{{estado.festival.ciudad}}/{{estado.festival.pais}}</td>
    <td>{{estado.festival.fecha}}</td>
    <td>{{estado.festival.web}}</td>
    <td>{{estado.estado}}</td>
  </tr>
  {%endfor%}
</table>
{%endifequal%}
</div>

{%endblock%}