{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %} {% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/cortometraje.css">
{% endblock %} {% block contenido %}

<div class="contenido">
	
	<u><h1>{{proyecto.titulo}}</h1></u>
	<h2>Palmares:</h2>
	{%for estado in estados%}	
	<h3>{{estado.estado|upper}} - {{proyecto.anyo}} {{proyecto.festival|upper}},{{estado.festival.ciudad|upper}}</h3>
	{%endfor%}
	
	<br><img src="{{MEDIA_URL}}{{proyecto.imagen}}" class="imagen"></a>
	<div class="informacion">
		
		<b>Agno:</b> {{proyecto.anyo}}<br>
		
		{% ifnotequal proyecto.pais '' %}
		<b>Pais:</b> {{proyecto.pais}}<br>
		{%  endifnotequal %} 
		
		<b>Director:</b> {{proyecto.director}}<br>
		<b>Reparto:</b> {{proyecto.reparto}}<br>
		<b>Productora:</b> {{proyecto.productora}}<br>
		<b>Genero:</b> {{proyecto.genero}}<br><br><br>
	</div>
	<div class="sinopsis">
	<b>Sinopsis:</b><br>
	{{proyecto.sinopsis}}
	<br><br><h1> </h1>
	{{proyecto.trailer|safe}}
	</div>
	
	{%ifequal user.id proyecto.cliente_id %}
	<table class="tabla" width="100%" border="2" cellspacing="0" bordercolor="#000000">		
		<tr>
			<th scope="col">CORTOMETRAJE</th>
			<th scope="col">ANO DE PRODUCCION</th>
			<th scope="col">FESTIVAL/ANO</th>
			<th scope="col">CIUDAD/PAIS</th>
			<th scope="col">FECHA</th>
			<th scope="col">WEB</th>
			<th scope="col">ESTADO</th>
		</tr>
		{%for estado in estados%}	
		<tr>
			<td>{{proyecto.titulo}}</td>
			<td>{{proyecto.anyo}}</td>
			<td>{{estado.festival}}/{{estado.festival.anyo}}</td>
			<td>{{estado.festival.ciudad}}/{{estado.festival.pais}}</td>
			<td>{{estado.festival.fecha}}</td>
			<td>{{estado.festival.web}}</td>
			<td>{{estado.estado}}</td>
		</tr>

	{%endfor%}
		</table>
	{%endifequal%}
	
</div>
	

<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 300px;">
    <!-- Slides Container -->
    <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
        <div>
        {% for galeria in proyecto.galeria.all %}
        <img u="image" src="{{MEDIA_URL}}{{galeria.imagen}}" />
<!-- 	<img src="{{MEDIA_URL}}{{galeria.imagen}}" class="imagen"></a> -->
    {% endfor %}
<!--             <img u="image" src="image1.jpg" /> -->
<!--             <img u="thumb" src="thumb-image1.jpg" /> -->
        </div>
        <div><img u="image" src="image2.jpg" /></div>
    </div>
    <!-- ThumbnailNavigator Skin Begin -->
        <!-- open 'skin\thumbnail-...source.html', copy and paste thumbnail navigator skin here -->
    <!-- ThumbnailNavigator Skin End -->
</div>

{%block javascript%}
<!-- it works the same with all jquery version from 1.x to 2.x -->
<script src="{{STATIC_URL}}/js/jquery.min.js"></script>
<script src="{{STATIC_URL}}/js/jssor.slider.mini.js"></script>
<script>
    jQuery(document).ready(function ($) {
        var options = {
            $ThumbnailNavigatorOptions: {
                $Class: $JssorThumbnailNavigator$,
                $ChanceToShow: 2
            }
        };
        var jssor_slider1 = new $JssorSlider$('slider1_container', options);
    });
</script>
{%endblock%}

{%endblock%}