{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %}

{%block titulo%} Lista de Anuncios {%endblock%}

{% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/servicios.css">
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
{% endblock %} {% block contenido %} 
<div align="center" class="list">
	<table width="100%" border="0">
		<tr>
			<td width="6%" height="39">&nbsp;</td>
			<td width="12%"></td>
			<td width="9%" align="center"></td>
			<td width="37%" align="left"><h2>PUBLICIDAD</h2></td>
			<td width="31%"><h5>
					<a href="/administracion/createAnuncio"><img
						src="{{STATIC_URL}}img/btn/plus.png" width="15" height="15" />
						Añadir Anuncio</a>
				</h5></td>
			<td width="5%">&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2">&nbsp;</td>
			<td colspan="4"></td>
			<td rowspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td height="17" colspan="4"></td>
		</tr>

		<tr>
			<td rowspan="2">&nbsp;</td>
			<td height="29" colspan="4" align="center">
				<table width="55%" border="0">
					{%for anuncio in object_list%}
					<tr>
						<td width="69%" height="15"><h6 class="margen">
						{%if anuncio.activo %}
								<a href="/servicios/anuncio/{{anuncio.id}}" class="margen tam12">{{anuncio.titulo}}</a>
								{%else%}
								<a href="/servicios/anuncio/{{anuncio.id}}" class="margen tam12"><font color="ff0000">{{anuncio.titulo}}</font></a>
								{% endif %}
							</h6></td>
						<td width="10%">&nbsp;</td>
						<td width="13%"><a
										href="/administracion/updateAnuncio/{{anuncio.id}}"
										class="enlace"><img src="{{STATIC_URL}}img/btn/pencil.png"
											width="15" height="15" /> <span class="tam12">Modificar
										</span></a></td>
						<td width="8%"><a
										href="/administracion/deleteAnuncio/{{anuncio.id}}"
										class="tam12"><img src="{{STATIC_URL}}img/btn/minus.png"
											width="15" height="15" /> Borrar</a></td>
                                            
					</tr>
					<tr>
					  <td height="23" colspan="4"><hr /></td>
				  </tr>
                    
					{%endfor%}
				</table>
			</td>
			<td rowspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="4"></td>
		</tr>
	</table>
</div>

{% endblock %}
