{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %} {% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/inicio.css">
{% endblock %} {% block contenido %}
<div align="center">
<table width="100%" border="0">
  <tr>
    <td width="255" rowspan="4">&nbsp;</td>
    <td colspan="2" align="center"><strong>Servicios</strong></td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td width="277" height="83" align="center"><p><a href="produccion">Produccion</a></p>
    <p><img src="{{STATIC_URL}}img/servicios/produccion.png" width="75" height="75" /></p></td>
    <td width="272" align="center"><p><a href="postproduccion">PostProduccion</a></p>
    <p><img src="{{STATIC_URL}}img/servicios/postproduccion.png" width="75" height="75" /></p></td>
    <td width="266" rowspan="2" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td height="109" align="center"><p><a href="publicidad">Publicidad</a></p>
    <p><img src="{{STATIC_URL}}img/servicios/publicidad.png" width="75" height="75" /></p></td>
    <td align="center"><p><a href="distribucion">Distribucion</a></p>
      <p><img src="{{STATIC_URL}}img/servicios/distribucion.png" width="75" height="75" /></p></td>
    </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
</table>
</div>
{%endblock%}