<style type="text/css">
.cabeceraTabla {
	color: #FFF;
	font-weight: bold;
	font-size: 24px;
}
.centrar {
	text-align: center;
}
.negrita {
	font-weight: bold;
	color: #000;
	font-size: 18px;
	text-align: left;
}

.tamanoFijo {
	
	resize:none;
	
}
</style>
{% extends 'base.html' %} {% block contenido %}

{%load staticfiles%}

<div align="center">
<form action="/contacto/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
</div>

{%endblock%}