{% extends 'base.html' %} 
{% comment %} Aqui van los comentarios
{%endcomment %} {% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/inicio.css">
{% endblock %} {% block contenido %}

<div class="video">
{{video.codigo|safe}}
</div>
<div class="contenido">
	<div class="noticias">
		{%for noticia in noticias|slice:":2"%}
		<div class="noticia">
			<h1>{{noticia.titulo}}</h1>
			<img src="{{MEDIA_URL}}{{noticia.imagen}}" class="imagen" width="40%"><br>
			<a href="/noticias/post/{{noticia.id}}">ver mas</a>
		</div>
		{%endfor%}
	</div>
	
	<div class="portfolio">
		<h1>PORTFOLIO</h1>
		{%for produccion in producciones|slice:":16"%}
			<li class="cortos"><a href="/servicios/ficha/{{produccion.id}}"><img src="{{MEDIA_URL}}{{produccion.imagen}}" class="portada"></a></li>
			<li>{{produccion.titulo}}</li>
		{%endfor%}
	</div>
</div>


{%endblock%}
