<style type="text/css">
.tam36 {
	font-size: 36px;
}

.titular {
	text-align: center;
	font-weight: bold;
	color: #FFF;
	font-size: 22px;
}

.titulo {
	text-align: center;
	font-size: 14px;
}

.titulos {
	font-size: 16px;
	color: #000000;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

.titulos:hover {
	color: #000000;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.resumen {
	font-size: 14px;
	text-align: justify;
}

.sabermas {
	font-size: 12px;
}

#redes-sociales {
	text-decoration: none;
}

a.redes-sociales img {
	filter: alpha(opacity = 100);
	opacity: 1.0;
	text-decoration: none;
}

a.redes-sociales:hover img {
	filter: alpha(opacity = 40);
	opacity: 0.4;
	text-decoration: none;
}
</style>
{% extends 'base.html' %} {% comment %} Aqui van los
comentarios{%endcomment %} {% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/noticias.css">
{% endblock %} {% block contenido %}
<div align="center">
	<table width="61%" border="0">
		<tr>
			<td colspan="5">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" bgcolor="#000000" align="center"><strong
				class="titular">Noticias</strong></td>
		</tr>
		{%for noticia in noticias%}
		<tr>
			<td colspan="5" align="center"><a
				href="/noticias/post/{{noticia.id}}" class="titulos"> <br />
				<br />{{noticia.titulo}}
			</a>
				<p>
					<a href="/noticias/post/{{noticia.id}}"><br /> </span></a>
				</p></td>
		</tr>
		<tr>
			<td width="17%" align="right" valign="middle" class="titular">&nbsp;</td>
			<td width="27%" align="right" valign="middle" class="titular"><a
				href="/noticias/post/{{noticia.id}}" class="redes-sociales"><img
					src="{{MEDIA_URL}}{{noticia.imagen}}" width="170" height="170" /></a></td>
			<td width="2%" valign="top"><h4 class="resumen">&nbsp;</h4>
				<h4 class="resumen">&nbsp;</h4></td>
			<td width="43%" valign="top"><h4 class="resumen">&nbsp;</h4>
				<h4 class="resumen">{{noticia.resumen}}</h4>
				<p class="sabermas">
					<a href="/noticias/post/{{noticia.id}}">Saber mas</a>
				</p>
				<h6>{{noticia.fecha}}</h6></td>
			<td width="11%" valign="top">&nbsp;</td>
		</tr>

		{%endfor%}
	</table>
	<br />
	<table width="477" border="0">
		<tr>
			<td width="243" align="left">{%if has_prev%}<a
				href="/noticias/page/{{ant}}"><img
					src="{{STATIC_URL}}img/paginate/arrow-left.png" /></a>{%endif%}
			</td>
			<td width="218" align="right">{%if has_next%}<a
				href="/noticias/page/{{sig}}"><img
					src="{{STATIC_URL}}img/paginate/arrow-right.png" /></a>{%endif%}
			</td>
		</tr>
		<tr>
			<td width="243" align="left">&nbsp;</td>
			<td align="left">&nbsp;</td>
		</tr>
	</table>
</div>
{%endblock%}
