{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %}

{%block titulo%} Noticia {%endblock%}
{% block contenido %} 
<div align="center">
	<table width="59%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td colspan="2" align="center"><h4>&nbsp;</h4>
				<h4>
					<strong>{{noticia.titulo}}<br />
					</strong>
				</h4></td>
		</tr>
		<tr>
			<td width="38%" align="center" valign="middle"><h6>
					<img src="{{MEDIA_URL}}{{noticia.imagen}}" width="225" height="225" />
				</h6>
				<h6>{{noticia.fecha}}</h6></td>
			<td width="62%" align="justify" valign="top"><h4 class="titulosPost">&nbsp;</h4>
				<h4 class="titulos">{{noticia.texto|safe}}</h4></td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
	</table>
</div>
{%endblock%}
