<style type="text/css">
.fecha {
	text-align: right;
}
.titulos {
	font-size: 14px;
}
</style>
{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %} {% block head %}
{% endblock %}

{% block contenido %}	
	<div align="center">
      <table width="73%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td colspan="2" align="center"><h3><strong>{{noticia.titulo}}<br/></strong></h3></td>
        </tr>
        <tr>
          <td width="46%" align="justify" valign="middle"><h6><img src="{{MEDIA_URL}}{{noticia.imagen}}" width="350" height="325" /> </h6>
          <h6>{{noticia.fecha}}</h6></td>
          <td width="54%" align="justify" valign="top"><h4 class="titulos">{{noticia.texto}}</h4></td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
      </table>
	</div>
{%endblock%}