<style type="text/css">
.tam10 {
	font-size: 10px;
}
.titulo {
	font-weight: bold;
	font-size: 10px;
}
</style>
{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %} {% block head %}
{% endblock %}
  {%block titulo%}Portfolio {%endblock%}
  
  {% block contenido %}
  <style type="text/css">
.texto {
	font-size: 24px;
}
</style>
<div align="center">
<table width="46%" border="0">
    <tr>
      <td colspan="4" align="center"><h5><strong>PORTFOLIO</strong></h5></td>
    </tr>
    <tr>
      {%for proyecto in proyectos|slice:":4"%}
      <td align="center"> <p><a href="ficha/{{proyecto.id}}"><img src="{{MEDIA_URL}}{{proyecto.imagen}}" width="100" height="170" /></a></p>
       <p class="titulo"><a href="ficha/{{proyecto.id}}">    {{proyecto.titulo}}</a></p></td>
      {%endfor%}
    </tr>
     <tr><td>&nbsp;</td></tr>
     <tr>
    {%for proyecto in proyectos|slice:"4:8"%}
      <td align="center"> <p><a href="ficha/{{proyecto.id}}"><img src="{{MEDIA_URL}}{{proyecto.imagen}}" width="100" height="200" /></a></p>
       <p class="titulo"><a href="ficha/{{proyecto.id}}">    {{proyecto.titulo}}</a></p></td>
    {%endfor%}
    </tr>
     <tr><td></td></tr>
    <tr>
    {%for proyecto in proyectos|slice:"8:12"%}
     <td align="center"> <p><a href="ficha/{{proyecto.id}}"><img src="{{MEDIA_URL}}{{proyecto.imagen}}" width="100" height="200" /></a></p>
       <p class="titulo"><a href="ficha/{{proyecto.id}}">{{proyecto.titulo}}</a></p></td>
    {%endfor%}
    </tr>
     <tr><td>&nbsp;</td></tr>
    <tr>
    {%for proyecto in proyectos|slice:"12:16"%}
      <td align="center"> <p><a href="ficha/{{proyecto.id}}"><img src="{{MEDIA_URL}}{{proyecto.imagen}}" width="100" height="200" /></a></p>
       <p class="titulo"><a href="ficha/{{proyecto.id}}">{{proyecto.titulo}}</a></p></td>
    {%endfor%}
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
  </table>


</div>
{%endblock%}
