{% extends 'base.html' %} 
{% comment %} Aqui van los comentarios
{%endcomment %} {% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/inicio.css">
{% endblock %}
{% block contenido %}
<div class="contenido">
<h1 align="center">Portfolio</h1>

<h2>A lo mejor aqui va el texto descriptivo del portfolio.. quien sabe</h2>

{%for produccion in produccion|slice:":16"%}
<li class="cortos"><a href="ficha/{{produccion.id}}"><img src="{{MEDIA_URL}}{{produccion.imagen}}" class="portada"></a></li>
<li>{{produccion.titulo}}</li>
{%endfor%}

<h1>Colaboraciones</h1>

</div>
{%endblock%}