@CHARSET "ISO-8859-1";

* {
	margin:0px;
	padding:0px;
}
			
#header {
	background:black;
	width:720px;
	font-family:Arial, Helvetica, sans-serif;
}
			
ul, ol {
	list-style:none;
}

a{
	text-decoration:none;
	color:black;
}
		
.nav > li {
	float:left;
	margin-left:25px;
	margin-right:25px;
	margin-bottom:15px;
}
			
.nav li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}
			
.nav li a:hover {
	background-color:#f0f0f0;
	color:#000000;
}
			
.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}
			
.nav li > ul {
	float:left;
			}
			
.nav li:hover > ul {
	display:block;
			}
			
.nav li ul li {
	position:relative;
	float:left;
}
	
a.menuFooter{
	color:#FFFFFF;  
	text-decoration:none;
	}

a.menuFooter:hover{
	color:#000000;  
	text-decoration:none;
	background-color:#FFFFFF;
	border-style:none;
	border-radius: 4px;
	padding: 5px;
	
	}	
	
#redes-sociales {
text-align: center;
padding:2px;
text-decoration:none;
}

a.redes-sociales img {
filter:alpha(opacity=100);
opacity: 1.0;
text-decoration:none;
}
a.redes-sociales:hover img {
filter:alpha(opacity=40);
opacity: 0.4;
text-decoration:none;
}

/* --- Clase que agregaremos cuando el usuario haga scroll --- */
.menu-fixed {
	background:black;
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
	position:fixed;
	z-index:1000;
	top:0;
}

.cabecera{
	height:100px;
	background-color: #000000;
	border: #000000;"
	
	
}

.margen{
	magin:25px;
}
