.contenido{
	margin-top:100px;
	border:2px solid black;
	padding-left:100px;
}

h1{
	font-size: 4em;
}

h2{
	font-size: 2em;
}

.imagen{
	position: absolute;
	top:65%;
	left:65%;
	width: 25%;
}

.sinopsis{
	width: 30%;
}