.contenido{
	margin-top:100px;
	border:2px solid black;
	padding-left:100px;
}

h1{
	font-size: 4em;
}

h2{
	font-size: 2em;
}

.imagen{
	position: absolute;
	top:75%;
	left:65%;
	width: 25%;
}

.informacion{
	position: relative;
	width: 25%;
}

.sinopsis{
	width: 30%;
}

.tabla{
	width: 90%;
	margin-top:60px;
	font-size: 13px;
}

.galeria{
	border:2px solid black;
	width: 70%;
	height: 500px;
	margin-top:200px;
}