@CHARSET "ISO-8859-1";
.tam36 {
	font-size: 36px;
}

.titular {
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}


.titulo {
	text-align: center;
	font-size: 14px;
}

.titulos {
	font-size: 16px;
	color: #000000;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

.titulos:hover {
	color: #000000;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.resumen {
	font-size: 14px;
	text-align: justify;
}

.sabermas {
	font-size: 12px;
}

.fecha {
	text-align: right;
}

.titulosPost {
	font-size: 14px;
}

#redes-sociales {
	text-decoration: none;
}

a.redes-sociales img {
	filter: alpha(opacity = 100);
	opacity: 1.0;
	text-decoration: none;
}

a.redes-sociales:hover img {
	filter: alpha(opacity = 40);
	opacity: 0.4;
	text-decoration: none;
}