@CHARSET "ISO-8859-1";

.noticias {
	position: relative;
	padding-left: 15px;
	top: 150px;
	left: 20%;
	border: 3px solid black;
	border-radius: 5px;
	background-color: #d7edff;
	margin-top: 30px;
	width: 50%;
}

h1 {
	font-size: 200%;
}

.imagen{
	width: 75%;
}

.paginacion{
	margin-top:150px;
	font-size: 8px;
}

a{
	text-decoration: none;
}
.anterior{
	left:20%;
	position:relative;
	border:2px solid black;
	width: 10%;
}
.siguiente{
	position:relative;
	top:-33px;
	left:60%;
	border:2px solid black;
	width: 10%;
}