<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="ISO-8859-1">
<title>{%block titulo%} {%endblock%}</title> {%block head%} {%endblock%}
{% comment %} {%endcomment %}
<link rel="stylesheet" href="{{STATIC_URL}}css/base.css">
<link rel="stylesheet"
	href="{{STATIC_URL}}css/bootstrap/bootstrap.min.css">
</head>
<body oncontextmenu="return false" onselectstart="return false"
	ondragstart="return false" onkeydown="return false">

	<nav class="navbar-fixed-top">
		<div style="background-color: #000000; border: #000000;">

			<div align="center" style="overflow-x: hidden; text-align: right;">


				<table width="96%" border="0" cellspacing="2" cellpadding="2">
					<tr>
						<td width="52" rowspan="2" align="right"></td>
						<td width="180" rowspan="2" align="right"><a href="/inicio">
								<img src="{{STATIC_URL}}img/logos/fondonegro.png" width="180"
								height="110" />
						</a></td>
						<td width="582" rowspan="2" align="center"><div id="menu">
								<ul>
									<li class="nivel1"><a href="/inicio" class="nivel1">INICIO</a>
									</li>
									<li class="nivel1"><a href="/servicios" class="nivel1">SERVICIOS</a>
										<ul class="dos">
											<li><a href="/servicios/produccion" class="nivel1">Producci&oacute;n</a></li>
											<li><a href="#" class="nivel1">PostProducci&oacute;n</a></li>
											<li><a href="/servicios/publicidad" class="nivel1">Publicidad</a></li>
											<li><a href="/servicios/distribucion" class="nivel1">Distribuci&oacute;n</a></li>
										</ul></li>
									<li class="nivel1"><a href="/portfolio" class="nivel1">PORTFOLIO</a>
									</li>
									<li class="nivel1"><a href="/noticias/page/0"
										class="nivel1">NOTICIAS</a></li>
									<li class="nivel1"><a href="/contacto" class="menuHeader">CONTACTO</a><br />
									</li>
								</ul>
							</div>
						<td width="121" rowspan="2" align="left" valign="middle"><a
							class="redes-sociales" target="_blank"
							href="https://www.facebook.com/pages/Monocular-Films/636013676504940?ref=notif&notif_t=fbpage_admin"
							title="Facebook"><img
								src="{{STATIC_URL}}img/social/facebook.png" width="36"
								height="26" /></a><a class="redes-sociales" target="_blank"
							href="https://twitter.com/MonocularFilms" title="Twitter"><img
								src="{{STATIC_URL}}img/social/twitter.png" width="31"
								height="26" /></a> <a class="redes-sociales" target="_blank"
							href="https://vimeo.com/user36352296" title="Vimeo"> <img
								src="{{STATIC_URL}}img/social/vimeo.png" width="26" height="21" /></a></td>
						<td width="65" align="center" valign="middle">{%if user.is_active%}<a href="/administracion/logout"
							class="menuFooter">Logout</a>
						</td>
					</tr>
					<tr>
						<td width="65" align="center" valign="middle"><a
							href="/administracion/admin" class="menuFooter">Admin</a></td>
					</tr>
					{%endif%}
				</table>
			</div>
		</div>
	</nav>
	<div class="row" style="padding-top: 9%;"></div>

		{%block contenido%} {%endblock%} {%block javascript%} {%endblock%}

		<div
			style="background-color: #000000; text-decoration: none; color: #FFF; font-weight: normal; text-align: left;">

			<div align="center" style="overflow-x: hidden">
				<table width="70%" border="0" cellspacing="0" cellpadding="0"
					align="center">
					<tr>
						<td colspan="2" rowspan="8">&nbsp;</td>

						<td colspan="5"
							style="text-align: center; font-size: 16px; font-weight: bold; color: #FFFFFF;">S&iacute;guenos
							en</td>
						<td colspan="2" rowspan="8" style="text-align: right">&nbsp;</td>
						<td colspan="2" rowspan="8" style="text-align: center">&nbsp;</td>
						<td width="5%" rowspan="8" style="text-align: center">&nbsp;</td>
						<td colspan="4"
							style="text-align: center; font-size: 16px; font-weight: bold; color: #FFFFFF;"><span
							style="text-align: left"></span>Men&uacute; General</td>
						<td width="1%" colspan="2" rowspan="8">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="5" style="text-align: center"><p>&nbsp;</p></td>
						<td colspan="4" style="text-align: right">&nbsp;</td>
					</tr>
					<tr>
						<td width="4%" rowspan="3" style="text-align: center">&nbsp;</td>
						<td width="8%" height="27" style="text-align: center"><img
							src="{{STATIC_URL}}img/social/facebook.png" width="36"
							height="26" /></td>
						<td style="text-align: left"><span style="text-align: left;"><a
								class="menuFooter"
								href="https://www.facebook.com/pages/Monocular-Films/636013676504940"
								target="_blank">Facebook</a></span></td>
						<td colspan="2" rowspan="3" style="text-align: justify"><span
							style="text-align: center"></span><span style="text-align: left"><a
								class="menuFooter" href="https://www.blogger.com/"
								target="_blank"></a></span></td>
						<td width="4%" style="text-align: center"><img
							src="{{STATIC_URL}}img/menufooter/inicio.jpg" width="25"
							height="20" /></td>
						<td width="18%" style="text-align: left"><a
							class="menuFooter" href="/inicio">Inicio</a></td>
						<td width="4%" style="text-align: left"><span
							style="text-align: center"><img
								src="{{STATIC_URL}}img/menufooter/contacto.png" width="20"
								height="15" /></span></td>
						<td width="17%" style="text-align: left"><a
							class="menuFooter" href="/contacto">Contacto</a></td>
					</tr>
					<tr>
						<td style="text-align: center"><span style="color: #000000;"><img
								src="{{STATIC_URL}}img/social/twitter.png" width="31"
								height="26" /></span></td>
						<td width="13%" style="text-align: left"><span
							style="text-align: left"><a class="menuFooter"
								href="https://twitter.com/MonocularFilms" target="_blank">Twitter</a></span></td>
						<td style="text-align: center"><img
							src="{{STATIC_URL}}img/menufooter/servicios.png" width="20"
							height="15" /></td>
						<td style="text-align: left"><a class="menuFooter"
							href="/servicios">Servicios</a></td>
						<td style="text-align: left"><span style="text-align: center"><img
								src="{{STATIC_URL}}img/menufooter/portfolio.gif" width="20"
								height="20" /></span></td>
						<td style="text-align: left"><a class="menuFooter"
							href="/portfolio">Portfolio</a></td>
					</tr>
					<tr>
						<td style="text-align: center"><img
							src="{{STATIC_URL}}img/social/vimeo.png" width="26" height="21" /></td>
						<td style="text-align: left"><a class="menuFooter"
							href="https://vimeo.com/user36352296" target="_blank">Vimeo</a></td>
						<td style="text-align: center"><img
							src="{{STATIC_URL}}img/menufooter/noticias.png" width="20"
							height="15" /></td>
						<td style="text-align: left"><a class="menuFooter"
							href="/noticias/page/0/">Noticias</a></td>
						<td style="text-align: left">&nbsp;</td>
						<td style="text-align: left">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="5" rowspan="2" style="text-align: right">&nbsp;</td>
						<td height="24" colspan="4" style="text-align: center">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="4" style="text-align: left">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="5" style="text-align: right">&nbsp;</td>
						<td colspan="4">&nbsp;</td>
					</tr>
				</table>
			</div>
		</div>
</body>
</html>