<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>{%block titulo%} {%endblock%}</title> {%block head%} {%endblock%}
{% comment %} {%endcomment %}
<link rel="stylesheet" href="{{STATIC_URL}}css/base.css">
<link rel="icon" type="image/png" href="{{STATIC_URL}}imG/logos/icon.png" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
</head>
<body>
	<div align="center" class="cabecera">
	  <table width="100%" border="0">
	    <tr>
	      <td width="9%" rowspan="3" valign="top">&nbsp;</td>
	      <td colspan="3"></td>
	      <td width="6%" rowspan="3" valign="top">&nbsp;</td>
        </tr>
	    <tr>
	      <td width="16%" rowspan="2" valign="top"><a href="/inicio">
	        <img src="{{STATIC_URL}}img/logos/fondonegro2.png" width="150"
								height="85" border="0" />
          </a></td>
	      <td width="47%" rowspan="2" align="center" valign="top"><div id="header">
			<ul class="nav">
				<li><a href="/inicio">Inicio</a></li>
				<li><a href="/servicios">Servicios</a>
					<ul>
						<li><a href="/servicios/produccion">Produccion</a></li>
						<li><a href="/servicios/distribucion">Distribucion</a></li>
						<li><a href="/servicios/publicidad">Publicidad</a></li>
						<li><a href="#">PostProduccion</a></li>
					</ul>
				</li>
				<li><a href="/noticias/page/0">Noticias</a>
				</li>
				<li><a href="/portfolio">PortFolio</a>
				</li>
				<li><a href="/contacto">Contacto</a></li>
			</ul>
		</div></td>
	      <td width="22%" align="left"><a
							class="redes-sociales" target="_blank"
							href="https://www.facebook.com/pages/Monocular-Films/636013676504940?ref=notif&notif_t=fbpage_admin"
							title="Facebook"><img
								src="{{STATIC_URL}}img/social/facebook.png" width="36"
								height="26" /></a><a class="redes-sociales" target="_blank"
							href="https://twitter.com/MonocularFilms" title="Twitter"><img
								src="{{STATIC_URL}}img/social/twitter.png" width="31"
								height="26" /></a> <a class="redes-sociales" target="_blank"
							href="https://vimeo.com/user36352296" title="Vimeo"> <img
								src="{{STATIC_URL}}img/social/vimeo.png" width="36" height="26" /></a></td>
        </tr>
	    <tr>
	      <td height="103" align="left" valign="top">{%if user.is_active%}<a href="/administracion/logout" class="redes-sociales"><img src="{{STATIC_URL}}img/btn/_logout.png" width="16" height="16"> </a>{%endif%}{%if user.is_staff%}<a
							href="/administracion/admin" class="redes-sociales"><img src="{{STATIC_URL}}img/btn/settings.png" width="16" height="16"></a>{%else%}{%if user.is_active%}<a href="/servicios/mificha" class="redes-sociales"><img src="{{STATIC_URL}}img/btn/user.png" width="16" height="16"></a>{%endif%}{%endif%}</td>
        </tr>
      </table>
</div>
<br />

		{%block contenido%} {%endblock%} {%block javascript%} {%endblock%}
<br />
<div style="background-color: #000000; text-decoration: none; color: #FFF; font-weight: normal; text-align: left;">

			<div align="center" style="overflow-x: hidden">
				<table width="70%" border="0" cellspacing="0" cellpadding="0"
					align="center">
					<tr>
					  <td colspan="2" rowspan="8">&nbsp;</td>
					  <td colspan="5"
							style="text-align: center; font-size: 16px; font-weight: bold; color: #FFFFFF;">&nbsp;</td>
					  <td colspan="2" rowspan="8" style="text-align: right">&nbsp;</td>
					  <td colspan="2" rowspan="8" style="text-align: center">&nbsp;</td>
					  <td width="5%" rowspan="8" style="text-align: center">&nbsp;</td>
					  <td colspan="4"
							style="text-align: center; font-size: 16px; font-weight: bold; color: #FFFFFF;">&nbsp;</td>
					  <td width="1%" colspan="2" rowspan="8">&nbsp;</td>
				  </tr>
					<tr>
						<td colspan="5"
							style="text-align: center; font-size: 16px; font-weight: bold; color: #FFFFFF;">S&iacuteguenos
							en</td>
						<td colspan="4"
							style="text-align: center; font-size: 16px; font-weight: bold; color: #FFFFFF;"><span
							style="text-align: left"></span>Men&uacute General</td>
					</tr>
					<tr>
						<td colspan="5" style="text-align: center"><p>&nbsp;</p></td>
						<td colspan="4" style="text-align: right">&nbsp;</td>
					</tr>
					<tr>
						<td width="4%" rowspan="3" style="text-align: center">&nbsp;</td>
						<td width="8%" height="27" style="text-align: center"><img
							src="{{STATIC_URL}}img/social/facebook.png" width="36"
							height="26" /></td>
						<td style="text-align: left"><span style="text-align: left;"><a
								class="menuFooter"
								href="https://www.facebook.com/pages/Monocular-Films/636013676504940"
								target="_blank">Facebook</a></span></td>
						<td colspan="2" rowspan="3" style="text-align: justify"><span
							style="text-align: center"></span><span style="text-align: left"><a
								class="menuFooter" href="https://www.blogger.com/"
								target="_blank"></a></span></td>
						<td width="4%" style="text-align: center"><img
							src="{{STATIC_URL}}img/menufooter/inicio.jpg" width="25"
							height="20" /></td>
						<td width="18%" style="text-align: left"><a
							class="menuFooter" href="/inicio">Inicio</a></td>
						<td width="4%" style="text-align: left"><span
							style="text-align: center"><img
								src="{{STATIC_URL}}img/menufooter/contacto.png" width="20"
								height="15" /></span></td>
						<td width="17%" style="text-align: left"><a
							class="menuFooter" href="/contacto">Contacto</a></td>
					</tr>
					<tr>
						<td style="text-align: center"><span style="color: #000000;"><img
								src="{{STATIC_URL}}img/social/twitter.png" width="31"
								height="26" /></span></td>
						<td width="13%" style="text-align: left"><span
							style="text-align: left"><a class="menuFooter"
								href="https://twitter.com/MonocularFilms" target="_blank">Twitter</a></span></td>
						<td style="text-align: center"><img
							src="{{STATIC_URL}}img/menufooter/servicios.png" width="20"
							height="15" /></td>
						<td style="text-align: left"><a class="menuFooter"
							href="/servicios">Servicios</a></td>
						<td style="text-align: left"><span style="text-align: center"><img
								src="{{STATIC_URL}}img/menufooter/portfolio.gif" width="20"
								height="20" /></span></td>
						<td style="text-align: left"><a class="menuFooter"
							href="/portfolio">Portfolio</a></td>
					</tr>
					<tr>
						<td style="text-align: center"><img
							src="{{STATIC_URL}}img/social/vimeo.png" width="36" height="26" /></td>
						<td style="text-align: left"><a class="menuFooter"
							href="https://vimeo.com/user36352296" target="_blank">Vimeo</a></td>
						<td style="text-align: center"><img
							src="{{STATIC_URL}}img/menufooter/noticias.png" width="20"
							height="15" /></td>
						<td style="text-align: left"><a class="menuFooter"
							href="/noticias/page/0/">Noticias</a></td>
						<td style="text-align: left">&nbsp;</td>
						<td style="text-align: left">&nbsp;</td>
					</tr>
					<tr>
						<td height="24" colspan="5" style="text-align: right">&nbsp;</td>
						<td colspan="4" rowspan="2" style="text-align: center">&nbsp;</td>
					</tr>

					<tr>
						<td colspan="5" style="text-align: right">&nbsp;</td>
					</tr>
				</table>
			</div>
</div>
</body>
</html>