{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %}

{%block titulo%} Cliente {%endblock%}
{%block contenido%}
<div align="center">
  <table width="100%" border="0">
  
    <tr>
      <td width="27%" rowspan="13">&nbsp;</td>
      <td colspan="3">&nbsp;</td>
      <td width="18%" align="right">&nbsp;</td>
      <td width="4%" align="center">&nbsp;</td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr>
      <td height="21" colspan="3">&nbsp;</td>
      <td colspan="3" rowspan="12">&nbsp;</td>
    </tr>
    <tr>
      <td align="left"><h4>Datos de Usuario:</h4></td>
      <td width="34%">&nbsp;</td>
      <td width="0%">&nbsp;</td>
    </tr>
    <tr>
      <td align="left"><h5>Usuario:</h5></td>
      <td>{{cliente.user_username}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="left"><h5>Nombre:</h5></td>
      <td>{{cliente.user.first_name|capfirst}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="left"><h5>Apellidos:</h5></td>
      <td>{{user.last_name|capfirst}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="left"><h5>Ciudad:</h5></td>
      <td>{{cliente.ciudad|capfirst}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="left"><h5>Email:</h5></td>
      <td>{{user.email}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="left"><h5>Telefono Contacto:</h5></td>
      <td>{{cliente.telefono}}</td>
      <td rowspan="8">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    {%for proyecto in proyectos%}
    <tr>
      <td colspan="2"><a href="servicios/ficha/{{proyecto.id}}">{{proyecto.titulo}}</a></td>
    </tr>
    {%endfor%}
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>

  </table>
</div>
<p>{%endblock%} </p>
