{% extends 'base.html' %} {% comment %} Aqui van los comentarios
{%endcomment %}

{%block titulo%} Registro {%endblock%}

{% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}css/admin.css">
{% endblock %} {% block contenido %}  {%if user.is_staff%}

<div align="center">
	<table width="100%" border="0">
		<tr>
			<td width="19%" rowspan="2">&nbsp;</td>
			<td colspan="2" align="left"><h1>Registro Estado:</h1>
				</td>
			<td width="3%" rowspan="2">&nbsp;</td>
			<td width="3%" rowspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2" align="left"><h6>
					<a href="/administracion/registrarFestival" target="blank"><img
						src="{{STATIC_URL}}img/btn/plus.png" width="15" height="15" />Añadir
						Festival</a>
				</h6></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="25%" rowspan="4"><form method='POST'
					class="formularioRegistro">
					{%csrf_token%}
					<table>{{form.as_table}}
					</table>
					<input type="submit" value="Registrar" />
				</form></td>
			<td width="50%"></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>

</div>


</p>
{%else%}
<meta http-equiv="refresh" content="0; url=http://example.com/" />

{%endif%} {%endblock%}
