<style type="text/css">

.georgia {
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.formularioRegistro {
	text-align: left;
	font-weight: bold;
}
</style>
<p>{% extends 'base.html' %} {% comment %} Aqui van los comentarios
  {%endcomment %} {% block head %}
  {%block title%}Registrar Cliente {%endblock%}
  {% endblock %} 
  
{% block contenido %}
<div align="center">
  <table width="100%" border="0">
    <tr>
      <td width="19%" rowspan="2">&nbsp;</td>
      <td colspan="2" align="left"><h1>Registro Cliente:</h1>
      <hr size ="20"/></td>
      <td width="3%" rowspan="2">&nbsp;</td>
      <td width="3%" rowspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2" align="left"><h6><a href="/administracion/registrarUsuarioEmpleado"><img src="{{STATIC_URL}}img/btn/plus.png" width="15" height="15" />Añadir Usuario</a></h6></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td width="25%" rowspan="4"><form method='POST' class="formularioRegistro">{%csrf_token%}
      <table>
      {{form.as_table}}
      </table>
      <input type="submit" value="Registrar" /></form>
      </td>
      <td width="50%"></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>

</div>


</p>
 {%endblock%}
